.container {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5vh 4vh 4vh 4vh;
    gap: 4em;
    line-height: 1.6;
    > .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        > div {
            display: block;
            margin-block-start: 10px;
            margin-block-end: 10px;
            unicode-bidi: isolate;
            color: rgb(85, 85, 85);
        }
        h1 {
            font-size: 3.5rem;
            display: block;
            margin-block-start: 10px;
            margin-block-end: 10px;
            font-weight: bold;
            unicode-bidi: isolate;
        }
    }
    .wrapper {
        display: flex;
        flex-direction: column;
        padding: 0rem 6vw;
        
        .contentWrapper {
            flex: 1 1;
            display: flex;
            gap: 1.5vw;

            .avatar {
                display: flex;
                align-items: center;
                width: 30%;
                
                > img {
                    border-radius: 10px;
                    aspect-ratio: auto;
                }
            }

            .content {
                width: 70%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .certification{
                    margin-bottom: 0px !important;
                }
                .subject {
                    .title {
                        font-size: 1.35rem;
                        display: flex;
                        align-items: center;
                        font-weight: bold;
                        > img {
                            height: 28px;
                            width: 28px;
                        }
                    }

                    > ul {
                        > li {
                            margin-left: 1.75rem;
                            font-size: 1.25rem;
                            line-height: 1.75rem;
                            
                        }
                        li > ul {
                            margin-left: 1.75em;  
                            li {
                                padding: 2.5px 0px;
                                font-size: 1.1rem;
                                line-height: 1.75rem;
                            }
                            
                        }
                    }

                    border: 0.1rem solid rgb(163, 163, 163);
                    border-radius: 8px;
                    height: fit-content;
                    padding: 12px 10px;
                    > p {
                        padding-left: 10px;
                    }
                    margin-bottom: 20px;
                    img {
                        margin-right: 8px;
                    }
                }
                
            }
           
        }
    }
    
}

@media screen and (max-width: 1200px) {
    .container {
        gap: 1vh;
        
        @media screen and (max-width: 400px) {
            gap: 0.1vh;
        }
        padding: .5vh 0vw !important;
        .title {
            > div {
                display: block;
                margin-block-start: 0.5vw;
                margin-block-end: 0.5vw;
                unicode-bidi: isolate;
                color: rgb(85, 85, 85);
            }
            h1 {
                font-size: 2.5rem;
                margin-block-start: 0.25em !important;
                margin-block-end: 0.25em !important;
            }
            @media screen and (max-width: 500px) {
                h1 {
                    font-size: 1.5rem !important;
                    margin-block-start: 0.1em !important;
                    margin-block-end: 0.1em !important;
                }
            }

        }
        
    }
    .contentWrapper{
        flex-direction: column;
        gap: 2.5vh !important;
        
        .avatar{
            display: flex;
            justify-content: center;
            width: 100% !important;
            > img {
                max-width: 30vh;
                max-height: 30vh;
                @media screen and (max-width: 500px), (max-height: 850px) {
                    max-width: 21vh !important;
                    max-height: 21vh !important;
                }
                @media screen and (max-width: 450px) {
                    max-width: 18vh !important;
                    max-height: 18vh !important;
                }
            }
        }

        .subject {
            flex: 1 1;
            .title {
                font-size: 1.25rem !important;
                @media screen and (max-width: 450px) {
                    font-size: calc(3.25vw + .175vh) !important;
                }
            }
            > ul {
                > li {
                    font-size: 1.1rem !important;
                    line-height: 1.75rem !important;

                    @media screen and (max-width: 450px) {
                        font-size: calc(2.95vw + .175vh) !important;
                        line-height: calc(2.5vh + 0.7vw) !important;
                    } 

                    
                    
                }
                li > ul {
                    li {
                        @media screen and (max-width: 450px) {
                            font-size: calc(2.75vw  + .175vh)  !important;
                            line-height: calc(2.5vh + 0.7vw) !important;
                        }
                        
                    }
                    
                }
            }
        }

        .content {
            width: 100% !important;
            margin-left: 0em !important; 
            font-size: 13px;
            
            .certification {
                margin-bottom: 1vh;
            }
        }
        
    }
}

